[submodule "firmware/lib/DigitalIO"]
	path = firmware/lib/DigitalIO
	url = https://github.com/greiman/DigitalIO
[submodule "firmware/lib/FRAM_MB85RC_I2C"]
	path = firmware/lib/FRAM_MB85RC_I2C
	url = https://github.com/sosandroid/FRAM_MB85RC_I2C
