[submodule "firmware/lib/DigitalIO"]
	path = firmware/lib/DigitalIO
	url = https://github.com/greiman/DigitalIO
[submodule "firmware/lib/Arduino-CmdMessenger"]
	path = firmware/lib/Arduino-CmdMessenger
	url = https://github.com/Palatis/Arduino-CmdMessenger.git
[submodule "firmware/lib/FRAM_MB85RC_I2C"]
	path = firmware/lib/FRAM_MB85RC_I2C
	url = https://github.com/Palatis/FRAM_MB85RC_I2C.git
